<div ng-controller="HeaderCtrl" class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container" ng-cloak>
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" ui-sref="main">Flux Tower</a>
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">

                <ul class="nav navbar-nav">
                    <li ui-sref-active="active">
                        <a ui-sref="main">Tables</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>