<div ng-controller="MainCtrl" class="jumbotron">
    <h2>Flux Tower</h2>
    <p class="lead">Tables</p>
    <p ng-repeat="table in tables"><a class="btn btn-lg btn-success" ui-sref="table({name:'{{table.name}}'})" ui-sref-opts="{reload:true}">{{table.name}}</a></p>
</div>

