<div ng-controller="TableCtrl" class="container">
    <div class="row">
            <div class="pull-left">
                <button class="btn btn-default previous" ng-click="paginate(false)">Previous</button>
                <button class="btn btn-default last" ng-click="paginate(true)">Next</button>
            </div>
            <p class="pull-right"><a class="btn btn-success" ui-sref="table({name:'{{tableName}}'})" ui-sref-opts="{reload: true, notify: true}">{{tableName}}</a></p>
            <div ng-hide="loaded" class="text-center"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</div>
            <div ng-show="error" class="text-center">Error Loading</div>
    </div>
    <div class="row table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th ng-repeat="header in headers">{{ header.name }}</th>
            </tr>
            <tr>
                <th ng-repeat="header in headers"
                    class="{{header.unit}}">{{ header.unit }}
                </th>
            </tr>
            <tr>
                <th ng-repeat="header in headers"
                    class="{{header.detail}}">{{ header.detail }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td ng-repeat="val in item">{{val}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th ng-repeat="header in headers">{{ header.name }}</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="row">
        <div class="pull-left">
            <button class="btn btn-default previous" ng-click="paginate(false)">Previous</button>
            <button class="btn btn-default last" ng-click="paginate(true)">Next</button>
        </div>
    </div>
</div>