html,body{
    height: 100%
}
.holder{
    min-height: 100%;
    position:relative;
}
.inside{
    padding-bottom: 100px;    /* height of footer */
}
.footer{
    height: 100px;
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

